<div class="wrapper" *ngIf="people$ | async as people">
  <p-table 
    [value]="people" 
    responsiveLayout="scroll"
    [paginator]="true" 
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{totalRecords} відвідувачів"
  >
    <ng-template pTemplate="caption">
      Список відвідувачів
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="surname">
          ПІБ <p-sortIcon field="code"></p-sortIcon>
        </th>
        <th pSortableColumn="lastVisit" class="visit-column">
          Візит <p-sortIcon field="code"></p-sortIcon>
        </th>
        <th>
          <p-columnFilter 
            type="date" 
            field="lastVisit" 
            display="menu"  
            [showOperator]="false" 
          ></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td>
          <div>{{person.surname}}</div>  
          <div>{{person.firstName}}</div>
          <div>{{person.middleName}}</div>
        </td>
        <td class="visit-column">
          {{(person.lastVisit | date:"d MMM y") || "-"}}
        </td>
        <td>
          <button 
            pButton 
            type="button" 
            class="p-button-sm p-button-outlined" 
            icon="pi pi-arrow-right" 
            iconPos="left"
            (click)="redirect(person.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
