.wrapper {
  .table-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  th {
    white-space: nowrap;
  }

  .visit-column {
    white-space: nowrap;
    padding: 1rem 0.25rem;
  }
}

::ng-deep .p-paginator-current {
  width: 100%;
  border: none !important;
  color: var(--primary-800) !important;
  margin-bottom: 10px !important;
}

::ng-deep .p-paginator-element {
  color: var(--primary-800) !important;
}

::ng-deep .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: var(--primary-100) !important;
  border-color: #dee2e6 !important;
}