p-menubar ::ng-deep .p-menubar {
  background-color: var(--primary-900);
  border-radius: 0px;

  .p-menubar-button .pi-bars {
    color: white;
  }

  @media screen and (min-width: 961px) {
    .p-menuitem-icon {
        color: white !important;
      }
    
      .p-menuitem-text {
        color: white !important;
      }
  }
}

.title-container {
  display: flex;
  gap: 12px;

  .main-icon {
    height: 32px;
    margin-top: 2px;
  }

  .main-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: 32px;
  }
}

.spinner-wrapper {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  ::ng-deep .p-progress-spinner-circle {
    stroke: white !important;
  }
}


::ng-deep .p-confirm-popup-accept {
  border-color: var(--primary-700);
  background-color: var(--primary-700);
}

::ng-deep .p-confirm-popup-reject {
  color: var(--primary-700) !important;
}

::ng-deep .p-button.p-button-text {
  color: var(--primary-700) !important;
}

::ng-deep .p-toast {
  width: 120px !important;
  height: 30px !important;
  display: flex !important;
}

::ng-deep .p-toast-message-content {
  padding: 10px 15px 5px !important;
  text-align: center;
}

::ng-deep .p-toast-message-text {
  margin: 0 !important;
}

::ng-deep .p-toast-message-icon {
  display: none;
}

::ng-deep .p-toast-icon-close {
  display: none !important;
}