<p-menubar [model]="items">
  <ng-template pTemplate="end">
    <div 
      *ngIf="isInnerLoading$ | async" 
      class="lds-ring inner-loading"
    ><div></div><div></div><div></div><div></div></div>

    <div class="title-container">
      <span class="main-title">ГУМКА</span>
      <img class="main-icon"src="assets/Logo.svg" alt="">
    </div>
  </ng-template>
</p-menubar>

<ng-container  *ngIf="!(isLoading$ | async); else loader">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #loader>
  <div class="spinner-wrapper">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</ng-template>

<p-toast
  position="top-center"
  showTransitionOptions="200ms ease-out"  
  hideTransitionOptions="150ms ease-in"
></p-toast>
