<div class="wrapper">
  <h3 class="title">{{title}}</h3>
  <input 
    pInputText 
    [(ngModel)]="surname" 
    placeholder="Введіть прізвище відвідувача..."
  >
  <input 
    pInputText 
    [(ngModel)]="firstName" 
    placeholder="Введіть ім'я відвідувача..."
  >
  <input 
    pInputText 
    [(ngModel)]="middleName" 
    placeholder="Введіть по-батькові відвідувача..."
  >
  <button 
    pButton 
    type="button" 
    class="p-button-success" 
    (click)="addProfile()"
    [disabled]="!surname || !firstName || !middleName"
  >Зберегти</button>
</div>
